<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <link rel="stylesheet" type="text/css" href="/fuentes/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/fuentes/css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/31b9fa39aa.js" crossorigin="anonymous"></script>
     <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="container-h">
            <i class="heather-elem1"><img src="/fuentes/img/logo-mercado-liebre.svg" class="logo" alt="Logo"></i>
            <i class="heather-elem2"><input class="searchbar" type="text" name="busqueda" placeholder=" Buscar productos, marcas"> <button class="but_busc"><i class="fas fa-search"></i></button></i>
            <i class="anun"><h2 class="anun"><i class="fas fa-hand-holding-usd"></i>  Comprá en cuotas y sin tarjeta de crédito</h2></i>
        </div>   
        
        
       
                                   
            <ul class="nav-bar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                <li class="li2"></li>
                <li><a href="register">Creá tu cuenta  </a> <i class="fas fa-address-card"></i></li>
                <li><a href="">Ingresá  </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras  </a><i class="fas fa-shopping-basket"></i></li>
    
            </ul>

         <div class="banner"><img src="/fuentes/img/img-home-banner.jpg" width="100%" alt="Banner"></div>
         <div class="burg"> <a href="#" class="burger-menu" ><i class="fas fa-bars"></i></a>
         </div>
    </header>

    <main>
        <section >
            <h3>Basado en tu última visita</h3>
            <article class="container-a">
                <article class="Prod1">
                    <img src="/fuentes/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                    <i class="fas fa-truck"></i>
                    <div class="numer">
                        <p class="precios">$6.770</p>
                        <p class="off">40% OFF</p>
                    </div>
                    
                    <h4 class="description">Cafetera Moulinex</h4>
                </article>
                <article class="Prod2">
                    <img src="/fuentes/img/img-macbook-pro-2019.jpg" alt="Macbook" class="product_img">
                    <i class="fas fa-truck"></i>
                    <div class="numer">
                        <p class="precios">$230.000</p>
                        <p class="off">20% OFF</p>
                       
                    </div>
                     <h4 class="description">MacBook Pro 2019</h4>
                </article>
                <article class="Prod3">
                    <img src="/fuentes/img/img-samsung-galaxy-s10.jpg" alt="Galaxy S10" class="product_img">
                    <i class="fas fa-truck"></i>
                    <div class="numer">
                        <p class="precios">$70.500</p>
                        <p class="off">10% OFF</p>
                    </div>
                    <h4 class="description">Samsung Galaxy S10</h4>
                </article>
                <article class="Prod4">
                    <img src="/fuentes/img/img-tv-samsung-smart.jpg" alt="Smart TV" class="product_img">
                    <i class="fas fa-truck"></i>
                    <div class="numer">
                        <p class="precios">$23.200</p>
                        <p class="off">5% OFF</p>
                    </div>
                    <h4 class="description">SmartTv Samsung 43"</h4>
                </article>
            </article>
        </section>
        <section>
            <h3>Ofertas</h3>
            <article class="container-b">
           
                <article class="Prod1">
                    <img src="/fuentes/img/img-cafetera-moulinex.jpg"  alt="Cafetera" class="product_img">
                    <i class="fas fa-truck"></i>
                    <div class="numer">
                        <p class="precios">$6.770</p>
                        <p class="off">40% OFF</p>
                    </div>
                   <h4 class="description">Cafetera Moulinex</h4>
                </article>

                <article class="Prod2">
                <img src="/fuentes/img/img-macbook-pro-2019.jpg"alt="Macbook" class="product_img">
                <i class="fas fa-truck"></i>
                <div class="numer">
                    <p class="precios">$230.000</p>
                    <p class="off">20% OFF</p>
                </div>
                <h4 class="description">MacBook Pro 2019</h4>
                </article>
                <article class="Prod3">
                <img src="/fuentes/img/img-samsung-galaxy-s10.jpg"  alt="Galaxy S10" class="product_img">
                <i class="fas fa-truck"></i>
                <div class="numer">
                    <p class="precios">$70.500</p>
                    <p class="off">10% OFF</p>
                </div>
                <h4 class="description">Samsung Galaxy S10</h4>
                    </article>
                <article class="Prod4">
                <img src="/fuentes/img/img-tv-samsung-smart.jpg" alt="Smart TV" class="product_img">
                <i class="fas fa-truck"></i>
                <div class="numer">
                    <p class="precios">$23.200</p>
                    <p class="off">5% OFF</p>
                </div>
                <h4 class="description">SmartTv Samsung 43"</h4>
                    </article>
            </article>
        </section>
    </main>
    <footer>
            <section>
                <div class="icono"><p class="icono fas fa-credit-card"></p></div>
                <h4 class="anun">Pagá con tarjeta o en efectivo</h4>
                <p class="anun_des">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                
            </section>
            <section>
                <div class="icono"><i class="icono fas fa-gift"></i></div>
                <h4 class="anun">Envío gratis desde $2.500</h4>
                <p class="anun_des">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

            </section> 
            <section>
                <div class="icono"><i class="icono fas fa-user-shield"></i></div>
                <h4 class="anun">Seguridad, de principio a fin</h4>
                <p class="anun_des">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section> 
            <section>
                <div>Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
            </section>    
    </footer>
</body>
</html>