<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <link rel="stylesheet" type="text/css" href="/fuentes/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/fuentes/css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/31b9fa39aa.js" crossorigin="anonymous"></script>
    <form action="/" method="#"></form> 
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="container-h">
            <i class="heather-elem1"><img src="/fuentes/img/logo-mercado-liebre.svg" class="logo" alt="Logo"></i>

            <i class="heather-elem2"><input class="searchbar" type="text" name="busqueda" placeholder=" Buscar productos, marcas"> <button class="but_busc"><i class="fas fa-search"></i></button></i>
        
            <i class="anun"><i class="fas fa-hand-holding-usd"></i>  Comprá en cuotas y sin tarjeta de crédito</i>
           
        </div>                             
            <ul class="nav-bar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                <li class="li3"></li>
                <li><a href="register">Creá tu cuenta  </a> <i class="fas fa-address-card"></i></li>
                <li><a href="">Ingresá  </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras  </a><i class="fas fa-shopping-basket"></i></li>
            </ul>

         
         <div class="burg"> <a href="#" class="burger-menu" ><i class="fas fa-bars"></i></a>
        <div class="spc"></div>       </div>
        <div class="banner"><img src="/fuentes/img/img-home-banner.jpg" width="100%" alt="Banner"></div>
 
    </header>

    <main>
        <section >
            <form action="POST"></form>
            <div class="register"> 

 
                <label for="User"></label>
                <input type="text" id="User" placeholder="Usuario" minlength="3" >
                <label for="Pas1"></label>
                <input type="password" id="Pas1" placeholder="Contraseña" minlength="3">




            
                <div class="fin">
                    <button type="submit" >Acceder</button><a href="home"></a>
              
            </div>
           
        </section>
    </main>
    <footer>
            <section class="tarjetas">
                <div class="icono"><p class="icono fas fa-credit-card"></p></div>
                <h4 class="anunfoot">Pagá con tarjeta o en efectivo</h4>
                <p class="anun_des">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                
            </section>
            <section class="tarjetas">
                <div class="icono"><i class="icono fas fa-gift"></i></div>
                <h4 class="anunfoot">Envío gratis desde $2.500</h4>
                <p class="anun_des">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

            </section> 
            <section class="tarjetas">
                <div class="icono"><i class="icono fas fa-user-shield"></i></div>
                <h4 class="anunfoot">Seguridad, de principio a fin</h4>
                <p class="anun_des">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section> 
            <div class="spc"></div>
            <span>
                <p class="cpyrgt">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </span>  
    
    </footer>
</body>
</html>