<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <link rel="stylesheet" type="text/css" href="/fuentes/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/fuentes/css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/31b9fa39aa.js" crossorigin="anonymous"></script>
    <form action="/" method="#">
    <title>Mercado Liebre</title>
</head>
<body>
<header>
    
    <div class="container-h2">
    <i class="heather-elem1"><img src="/fuentes/img/logo-mercado-liebre.svg" class="logo" alt="Logo"></i>
    
   </div>   
                          
    <ul class="nav-bar">
        <li><a href="">Ofertas</a></li>
        
        <li class="li2"></li>

        <li><a href="">Mis compras  </a><i class="fas fa-shopping-basket"></i></li>
        <li><a href="">Ayuda</a></li>
        
    </ul>
    <div class="burg"> <a href="#" class="burger-menu" ><i class="fas fa-bars"></i></a> </div> 

</header>
<main>
 <section >
    <form action="POST"></form>
    <div class="register"> 
        <h4>Datos Personales</h4>
        <label for="Nombre"></label>
        <input type="text" id="Nombre" placeholder="Nombre y apellido">
        <label for="User"></label>
        <input type="text" id="User" placeholder="Nombre de usuario" >
        <label for="Mail"></label>
        <input type="email" id="email" placeholder="E-mail">
        <h4>Fecha de nacimiento</h4>
        <input type="date">
        <label for="Domicilio"></label>
        <input type="text" id="Domicilio" placeholder="Domicilio">
        <h4>Perfil del usuario</h4>
        <div class="perfil">
        <form action="/action_page.php">

            <input type="radio" id="Comprar" name="perfil" value="Comprar">
            <label for="Comprar">Voy a comprar</label><br>
            <input type="radio" id="Vender" name="perfil" value="Vender">
            <label for="Vender">Voy a vender</label><br>

          
            <br> 
        </div>
        
        <button type="submit" >Guardar</button>
        
 
  
 
 <!-- <div>
           <h4>Mis intereses</h4>            
                 <input type="checkbox" id="cbx1" name="categorias" value="Electro">
                <label for="cbx1"> Electro</label><br>
                <input type="checkbox" id="cbx2" name="categorias" value="Moda">
                <label for="cbx2"> Moda</label><br>
                <input type="checkbox" id="cbx3" name="categorias" value="Hogar">
                <label for="cbx3"> Hogar</label><br>
                <input type="checkbox" id="cbx4" name="categorias" value="Jugueteria">
                <label for="cbx4"> Jugueteria</label><br>
                <input type="checkbox" id="cbx5"name="categorias" value="Vida sana">
                <label for="cbx5"> Vida sana</label><br>
        </div>
               
        <label for="Enviar"></label>
        <button>
            Enviar
        </button>
    </div>
-->
  
</section>   
</main>    
</body>