<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-16">
    <link rel="stylesheet" type="text/css" href="/fuentes/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/fuentes/css/normalize.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/31b9fa39aa.js" crossorigin="anonymous"></script>
    <form action="/" method="#">
    <title>Mercado Liebre</title>
</head>
<body>
<header>
    
    <div class="container-h2">
    <i class="heather-elem1"><img src="/fuentes/img/logo-mercado-liebre.svg" class="logo" alt="Logo"></i>
    
        </div>   
                          
            <ul class="nav-bar2">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Mis compras  </a><i class="fas fa-shopping-basket"></i></li>
                <li><a href="">Ayuda</a></li>
        
             </ul>
     <div class="burg"> <a href="#" class="burger-menu" ><i class="fas fa-bars"></i></a> </div> 
     <div class="spc"></div>       </div>
</header>
<main>
 <section >
    <form action="POST"></form>
    <div class="register"> 
        <h2>Datos Personales</h2>
        <label for="Nombre"></label>
        <input type="text" id="Nombre" placeholder="Nombre y apellido" minlength="3">
        <label for="User"></label>
        <input type="text" id="User" placeholder="Usuario"minlength="3" >
        <label for="Mail"></label>
        <input type="email" id="email" placeholder="E-mail" minlength="3">
        <label for="Fecha">Fecha de Nacimiento</label>
        <input type="date">
        <label for="Domicilio"></label>
        <input type="text" id="Domicilio" placeholder="Domicilio" minlength="3">
        <h2>Perfil del usuario</h2>
        <div class="perfil">
             <p class="select"><input type="radio" id="Comprar" name="perfil" value="Comprar">
             <label for="Comprar">Voy a comprar</label>
              </p>
             <p class="select"> <input type="radio" id="Vender" name="perfil" value="Vender">
               <label for="Vender">Voy a vender</label>
               </p>                     
         </div>
         <h2>Tus intereses</h2>
         <div class="perfil2">
             <div class="check">
                <input type="checkbox" id="Ele" name="Perfil" value="ELE">
                <label for="Ele"> Electro</label><br>
             </div>
            <div class="check">
                <input type="checkbox" id="Mda" name="Perfil" value="Car">
                <label for="Mda"> Moda</label><br>

            </div>
            <div class="check">
                <input type="checkbox" id="Hgr" name="Perfil" value="Hogar">
                <label for="Hgr"> Hogar</label><br>

            </div>
            <div class="check">
                <input type="checkbox" id="Jgt" name="Perfil" value="Jugueteria">
                <label for="Jgt"> Juguetería</label><br>
            </div>
            <div class="check">
                <input type="checkbox" id="Vds" name="Perfil" value="Vida Sana">
                <label for="Vds"> Vida Sana</label><br>

            </div>
            
         </div>
         <h2>Para terminar</h2>
         <div class="register">
            <div>
            <label for="Pas1"></label>
            <input type="password" id="Pas1" placeholder="Contraseña" minlength="3">
            <div class="spc"></div>
            <label for="Pas2"></label>
            <input type="password" id="Nombre" placeholder="Repite tu Contraseña" minlength="3">
            </div></div>
        <h2>Selecciona tu foto</h2>
        <div>
            <label for="File"></label>
            <input type="file" name="" id="File">
        </div>
    
        <div class="fin">
            <button type="submit" >Guardar</button>
           <button type="reset">Borrar todo</button>
    </div>
   


  
  
</section>   
</main>    
</body>